html{
    cursor: url('../images/cursors/cursor.png'), auto;
    overflow-x: hidden;
    text-wrap: wrap;
}
body{
    background-color: #282828;
    color: #66FF66;
    font-family: "Press Start 2P", 'Courier New', Courier, monospace;
    line-height: 2;
}
main{
    text-align: center;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 26px;
}
h3{
    font-size: 20px;
}
li{
    text-align: left;
}
img {
    vertical-align: middle;
}
a {
    color: #66FF66;
}
nav{
    background-color: black;
    font-size: 17px;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5em 0;
}
nav a{
    color: #66FF66;
    text-decoration: none;
    padding-right: 3em;
}
nav a:hover {
    color: white;
}
nav li:first-child{
    margin-right: auto;
    margin-left: 3em;
}
a:hover {
    cursor: url('../images/cursors/cursor-click.png'), auto;
}
.cursor-click{
    cursor: url('../images/cursors/cursor-click.png'), auto;
}
.active {
    text-decoration: underline;
    color: red;
}
.home-main-grid{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 35px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
div.home-main-grid > div:first-child {
    border: 4px double #66FF66;
}
div.home-main-grid > div:nth-child(2) {
    text-align: left;
}
.home-game-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 10px;
}
.button {
    font-family: "Press Start 2P", 'Courier New', Courier, monospace;
    font-size: 17px;
    text-decoration: none;
    color: black;
    padding: 2px;
    cursor: url('../images/cursors/cursor-click.png'), auto;
}
.skip-to-main{
    position: absolute;
    left: -10000px;
}
.skip-to-main:focus{
    position: static;
    color: #66FF66;
}
#runCanvas{
    border: 1px solid black;
    border-bottom-width: 3px;
    background-color: #FFFFFF;
}
@media (prefers-reduced-motion){
    .animated{
        display: none;
    }
}